{% extends "base.html" %}

{% block css  %}
<style type="text/css">
.pset{
    font-size: 20px;
    margin-top: 30px;
}

#AuthenButtom{
	margin-top: 100px;margin-left: 300px;
}
#AuthenButtom a button{
	height: 48px;
	width: 100px;
    margin-right: 118px;
}

</style>

{% endblock %}

{% block section %}
	<section style="margin-bottom: 300px;margin-top: 120px;">
		<div class="container " >
			<div class="row">
				<legend>房东收款二维码</legend>
				<div style="margin-top: 140px;margin-left: 370px;">
					<img style="width: 50%;" src="{{ houseObj.erWeiPath.url }}" >
				</div>

			</div>
		</div>
	</section>
{% endblock %}
{% block script %}
{% endblock %}
