{% extends "base.html" %}

{% block section %}
	<section style="margin-bottom: 300px;margin-top: 120px;">
		<div class="container " >
			<div class="row">
				<legend>设置密码</legend>
				<form action="/home/searchPassword/" method="post" id="form_set">
				<!--<form action="#" method="post" id="form_set">-->
					
					<div class="form-group">
						<input type="email" id="contact_email"  name="mail" class="form-control" style="width:45%;		height:45px	;	margin-left: 130px	;	margin-top: 30px;"   value={{ mail }} />
					</div>
					<div class="form-group">
						<input type="password" id="password1" name="passwd1" class="form-control" style="width:45%;		height:45px	;	margin-left: 130px	;	margin-top: 30px;" placeholder="密码" />
					</div>
					<div class="form-group">
						<input  type="password" id="password2" name="passwd2" class="form-control" style="width:45%;		height:45px	;	margin-left: 130px	;	margin-top: 30px;" placeholder="密码确认">
					</div>
					<div class="form-group">
						<!--<button style="margin-left: 130px;margin-top:40px;" id="button_submit" class="btn btn-danger" type="submit" name="submit" onclick="passwd_same();">提交</button>-->
						<input style="margin-left: 130px;margin-top:40px;" id="button_submit" class="btn btn-danger" type="submit" name="submit" value="提交" />
						<p id="result" style="color:indianred;margin-left:240px;font-size:18px;margin-top:40px;" class="col-sm-7">{{ msg }}</p>
					</div>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
	function passwd_same(){
	    var p1=$('#password1').val();
		var p2=$('#password2').val();
		console.log(p1,p2);
		// if (p1==p2){
		//     $('#button_submit').submit();
		//     console.log('tijiao');
		// }
		// else{
        //
		//     $('#result').html('密码输入两次不一样。');
        //
		//     console.log('no')
		// }
	}
</script>
{% endblock %}
